body {
  background: #1b1b1b21;
  color: #1b1b1b;
  font-family: Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
}

textarea {
  resize: none;
}

.body {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.settings {
  left: 1em;
}

.stats {
  right: 1em;
  min-width: 21ch;
}

.label-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
}

.small-space {
  height: 1em;
  width: 1em;
}

.big-space {
  height: 2.2em;
  width: 2.2em;
}

.gh {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  font-size: 0.8em;
}

.version {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  font-size: 0.8em;
}

#cycles {
  font-weight: bold;
}

#color {
  max-width: 15ch;
}

#automaton {
  background: white;
  display: grid;
  height: 96vh;
  width: 96vh;
  border-radius: 4px;
  overflow: hidden;
  box-shadow:
    0 0 0 1px #1b1b1b42,
    0 0 10px 1px #1b1b1b42;
}

#color-preview {
  background: #1b1b1b;
  height: 1em;
  border-radius: 4px;
  border: 1px solid #1b1b1b;
}
